.table__content table {
  width: 100%;
  margin: 30px 0px;
}

.table__content table tbody tr {
  text-align: center;
}

.table__content table thead th:nth-child(2) {
  max-width: 15%;
  width: 15%;
}

.table__content span {
  text-decoration: underline;
  cursor: pointer;
}

.table__content span:hover {
  color: blue;
}

.table-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.table-button-container button {
  margin: 0px;
}

